<div class="container">

  <div class="roots-text">
    <h1>サービス名の由来</h1>
  </div>

  <div class="roots-explain">
  <h3>「うんち味のカレー、カレー味のうんち、食べるならどっち？」</h3>
  <br>
  <h3>皆さんも、一度は訊かれたことがあるこの質問。<br>
  いろいろ意見はあると思いますが、私は断然「カレー味のうんち」派です。<br>
  <br>
  <br>
  まず前提として「うんち味のカレー」派の人たちは、<br>
  「どっちも嫌だけど、いつも食べてるカレーがちょっと変な味になっただけでしょ？それならまだいいかな…」というネガティブな思想に支配されています。<br>
  うんち味のカレー派の人たちは、石橋を叩いて叩いて叩きまくる超保守的人間なのです。就職するなら公務員をおすすめします。<br>
  <br>
  <br>
  一方「カレー味のうんち」は、無限の可能性を秘めています。<br>
  そこにネガティブな思いは一切なく、「え！？僕の大好きなカレー味でうんちを試食できるの！？ラッキー！！」というピュアピュアハートな期待しかありません。<br>
  <br>
  <br>
  そもそもうんちを食べたことがある人生とない人生では、その先大きく変わってくると思いませんか？<br>
  <br>
  <br>
  どんなに嫌なことがあったとしても、「でも自分はうんち食べたことあるしなあ…」で乗り切れるはずです。<br>
  たとえ理不尽なことで上司に怒られたとしても、「でも課長はうんち食べたことないですよね？」で乗り切れますし、マウントをとられたとしても「まだうんち食べたことないの？」の一言で形勢逆転です。<br>
  <br>
  <br>
  この無限の可能性に気づかず、いつもの慣れ親しんだ道を選んでしまう「うんち味のカレー派」は、サイゼリヤではいつも「ミラノ風ドリア」を、大戸屋では決まって「チキンかあさん煮定食」を注文するはずです。私にはわかります。<br>
  極め付けには、いつか好きな人ができたとしても「君はロックを聴かない」と泣き出すことでしょう。<br>
  <br>
  <br>
  一方積極的にチャンスを獲りにいく「カレー味のうんち」派は、「君はロックを聴かない」ではありません。<br>
  「僕はK-POPを聴く」です。「彼女の好きなTWICEの曲をいっぱい聴いて、共通の話題で盛り上がりたいし、あわよくばCDを貸し借りする仲になりたい。」なのです。<br>
  <br>
  <br>
  「カレー味のうんち」を選べる人を、僕は少しでも増やしたいと思います。</h3>
  </div>

  <div class="center">
    <h1 class="how-live">君たちはどう生きるか？</h1>
  </div>

</div>